<!DOCTYPE html>
<html>
    <head>
        <title> Header Page </title>
         <link rel="stylesheet" href="../../css/style.css"/>
    </head>
    <body>
        <h2 class="footer">copy right &COPY;</h2>
       </div>
    </body>
</html>